---
layout: compress
--- 

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container post">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    

  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script defer src="{{site.baseurl}}/js/bootstrap.min.js"></script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
